@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

#getintouch:last-child {
  color: blue;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* SECTION */
.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: #212121;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-height {
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1920px;
  padding: 0 3rem;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* NAV */
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-img {
  width: 32px;
  border-radius: 50%;
}

.nav-logo {
  color: #212121;
  font-weight: 600;
}

.nav-list, .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4px;
  color: #bdbdbd;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-name {
  font-size: 0.625rem;
}

.nav-icon {
  font-size: 1.5rem;
}

/* ACTIVE LINK */
.active {
  position: relative;
  color: #212121;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* HEADER SHADOW WHEN SCROLLED DOWN */
.scroll-header {
  -webkit-box-shadow: 0 -1px 12px rgba(14, 62, 58, 0.15);
          box-shadow: 0 -1px 12px rgba(14, 62, 58, 0.15);
}

/* HOME SECTION */
.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.home-img {
  width: 30vw;
}

.home-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.home-text {
  width: auto;
  margin: auto;
  font-size: 2rem;
  padding: 150px;
}

/* SKILLS SECTION */
.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  padding: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.skills-icon {
  max-height: 20vh;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.skills-icon:hover {
  -webkit-filter: none;
          filter: none;
}

/* CONTACT SECTION */
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.contact-icon {
  max-height: 5vh;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin: 0 10px;
}

.contact-icon:hover {
  -webkit-filter: none;
          filter: none;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 -1px 12px rgba(14, 62, 58, 0.15);
            box-shadow: 0 -1px 12px rgba(14, 62, 58, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-container {
    padding: 20px 20px 7rem 20px;
  }
  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-img {
    padding-top: 50px;
    height: 50vh;
    width: 100%;
  }
  .home-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: auto;
    font-size: 0.938rem;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-icons {
    margin-top: 20px;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: 4.5rem;
  }
  .nav-img {
    display: none;
  }
  .nav-icon {
    display: none !important;
  }
  .nav-name {
    font-size: 0.938rem;
    display: block;
  }
  .nav-link:hover {
    color: #212121;
  }
  .active::before {
    bottom: -0.75rem;
  }
  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-img {
    height: 70vh;
    width: 100%;
  }
  .home-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: auto;
    font-size: 1rem;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-icons {
    margin-top: 20px;
  }
}

@media screen and (min-width: 576px) {
  .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .home-img-container {
    width: 50vw;
    height: auto;
  }
  .home-img {
    width: 30vw;
    height: auto;
  }
  .home-text {
    width: 100vw;
    margin: auto;
    font-size: 2rem;
    padding: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */